
<blockquote class="blockquote text-center">
  <p><%= @question %></p>
  <%# <p><em>- you</em></p> %>
  <footer class="blockquote-footer"><cite title="Source Title">you</cite></footer>
</blockquote>

<blockquote class="blockquote text-center">
  <p><%= @answer %></p>
  <%# <p><em>- your coach</em></p> %>
  <footer class="blockquote-footer"><cite title="Source Title">your coach</cite></footer>
</blockquote>

<%= link_to 'Ask a new question', 'ask' %>
