<small>Ask your coach for anything</small>
<form action="/answer" class="form-inline justify-content-center">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="question">
    <%# <input type="submit" class="btn btn-primary" value="Ask!"> %>
    <button type="submit" class="btn btn-primary">Ask</button>
  </div>
</form>
